@import "./base/reset";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./utilidades/variables";
@import "./utilidades/mixins";
@import "./utilidades/colors";
@import "./base/typos";
@import "./estructura/header";
@import "./estructura/main";
@import "./estructura/footer";
@import "./estructura/onprogress.scss";



body {
    height: 100vh;
    width: 100vw;
    font-family: "ejemploMexico";
    overflow:hidden;
}
 
.fondo {
    position: relative;
}

.bg-img {
    width: 100vw;
    height: 100vh;
    opacity: 0.6;    
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
  }
  
  .nav-item {
    height: 100%;
    border: 2px solid $para-la-agencia-de-viajes-2-rgba;
    border-radius: 9px;
    background-color: $para-la-agencia-de-viajes-1-rgba;
    display: inline-block;
    margin: 3px;
    
  :hover {
      border: 2px solid $para-la-agencia-de-viajes-5-rgba;
      border-radius: 6px;
      background-color: $para-la-agencia-de-viajes-2-rgba;
    }
  
    a {
        text-wrap: wrap;
        text-align: center;
        justify-content: baseline;
    }
  }

  .btn {
    background-color: $para-la-agencia-de-viajes-5-rgba;
  }

@keyframes ruta {
    0%{ 
        left: 0vw;
        transform: rotateY(180deg);
    }
    50%{  
        left: 90vw;
        transform: rotateY(180deg);
    }
    51% {
      left: 90vw;
      transform: rotateY(0deg);
    }
    100%{
      left: 0vw;
      transform: rotateY(0deg);
    }

  }
