footer {
    position: absolute;
    top: 92%;
    opacity: 100%;
    height: 8vh;
    width: 100vw;
    background-color: $para-la-agencia-de-viajes-1-rgba-atenuado;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    div {
        height: 100%;
        display: inline-block;

    }

    .auto {
        transform: rotateY(180deg);
        width: 15vw;
        height: 10vh;
        position: absolute;
        z-index: 20;
        top: -7vh;
        animation-name: ruta;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 12s;
    }
    nav {
      height: auto;
  }


  
  
  .logo {
      height: 100%;
    }
  
    @media screen and (max-width: 576px) {
      .logo {
        height: 70%;
      }
      
    }
}


.menu-footer {

  .navbar-collapse {
    transform-origin: top;
    }
    
    .navbar-collapse.show {
    transform: translateY(-120%);
    }
    
}