main {
    position: absolute;
    top: 20%;
    overflow: overlay;
    width: 100vw;
    height: 70vh;
    section {
        height: 76vh;
        overflow: overlay;
        video {
            width: 70%;
            height: auto;
            
        }
    }
}

@media (max-width: 768px) {
    section {
        height: 38vh;
    } 
}