main {
    position: absolute;
    top: 20%;
    overflow: overlay;
    width: 100vw;
    height: 70vh;
    section {
        height: 76vh;
        overflow: overlay;
        color: $para-la-agencia-de-viajes-6-rgba;

        video {
            width: 100%;
            height: auto;
            border: 5px double $para-la-agencia-de-viajes-5-rgba;
            margin-top: 5vh;
            
        }
    }
}

@media (max-width: 768px) {
    section {
        height: 38vh;
    } 
}