#btn_gde {
    height: 30vh;
    background-color: $para-la-agencia-de-viajes-3-rgba-atenuado;
    a {
        color: $para-la-agencia-de-viajes-6-rgba;
        font-size:xx-large;
    }
    &:hover {
        animation-name: gira;
        animation-iteration-count: 1;
        animation-duration: 700ms;
    }
}

@keyframes gira {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
